<h1><%= @tribe.name %></h1>

<% if @tribe.user == @current_user %>
  <p>View your tribe's <a href="/messengers/<%= @tribe.slug %>">messenger activity</a>.</p>
<% else %>
  <p>Run a <a href="/messengers/new/<%= @tribe.id %>">messenger</a> to this tribe!</p>
<% end %>

<table>
  <tcaption>General</tcaption>
  <tr>
    <td>Land owned:</td>
    <td><%= @tribe.land %> sq. mile<%= "s" if @tribe.land > 1 %></td>
  </tr>
  <tr>
    <td>Total population:</td>
    <td><%= @tribe.population.total %> people</td>
  </tr>
</table>

<table>
  <tcaption>Infrastructure</tcaption>
  <% if @tribe.buildings.empty? %>
    <tr>
      <td></td>
      <td><em>This tribe has no buildings. It's flat land and huddled people, as far as the eye can see!</em></td>
    </tr>
  <% else %>
    <thead>
      <tr>
        <th>#</th>
        <th>Building Type</th>
      </tr>
    </thead>
    <tbody>
      <% @tribe.buildings.uniq.each do |building| %>
        <tr>
          <td><%= @tribe.count_building(building.name) %></td>
          <td><%= building.name.capitalize %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
