<h1>Welcome home, <%= @user.username %>.</h1>

<% if @user.tribes %>
  <table>
    <tcaption>Your tribes:</tcaption>
    <thead>
      <tr>
        <th>Management Page</th>
        <th>Tribe Name</th>
        <th>View Messenger Activity</th>
        <th>Active Tribe</th>
        <th>Delete Tribe<br><em>(Warning! Permanent!)</em></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td>
          <form action="/tribes/new" method="get">
            <input type="submit" value="New tribe">
          </form>
        </td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
    <tbody>
      <% @user.tribes.each do |tribe| %>
        <tr>
          <td><a href="/tribes/<%= tribe.slug %>/manage"><strong>Manage</strong></a></td>
          <td><%= tribe.name %></td>
          <td><a href="/messengers/<%= tribe.slug %>">Messengers</a></td>
          <td>
            <% if @user.tribe == tribe %>
              <strong>(active tribe)</strong>
            <% else %>
              <form action="/tribes/<%= tribe.slug %>/activate" method="post">
                <input type="hidden" name="_method" value="patch">
                <input type="submit" value="Make active tribe">
              </form>
            <% end %>
          </td>
          <td class="delete">
            <form action="/tribes/<%= tribe.slug %>/delete" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You don't own any tribes! How about you make a <a href="/tribes/new">new tribe</a>?</p>
<% end %>
