<h1>Welcome home, <%= @user.username %>.</h1>

<% if @user.tribes %>
  <table>
    <tcaption>Your tribes:</tcaption>
    <tfoot>
      <tr>
        <td>
          <form action="/tribes/new" method="get">
            <input type="submit" value="New tribe">
          </form>
        </td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
    <tbody>
      <% @user.tribes.each do |tribe| %>
        <tr>
          <td><%= tribe.name %></td>
          <td><a href="/tribes/<%= tribe.slug %>/manage">Manage</a></td>
          <td><a href="/tribes/<%= tribe.slug %>/messengers">Messengers</a></td>
          <td>
            <% if @user.tribe == tribe %>
              <strong>(active tribe)</strong>
            <% else %>
              <form action="/tribes/<%= tribe.slug %>/activate" method="post">
                <input type="submit" value="Make active tribe">
              </form>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You don't own any tribes! How about you make a <a href="/tribes/new">new tribe</a>?</p>
<% end %>
