<h1>Messenger activity for <%= @tribe.name %></h1>

<table>
  <tcaption>Visiting messengers</tcaption>
  <% if @received_messengers.empty? %>
    <tr>
      <td><em>No messengers have been sent to your tribe... in recent memory, at least.</em></td>
    </tr>
  <% else %>
    <thead>
      <tr>
        <th>Arrival Time</th>
        <th>Home Tribe</th>
        <th>Message</th>
        <th>Gift Contents</th>
      </tr>
    </thead>
    <tbody>
      <% @received_messengers.each do |messenger| %>
        <tr>
          <td><%= messenger.created_at_formatted %></td>
          <td><a href="/tribes/<%= messenger.tribe.slug %>"><%= messenger.tribe.name %></a></td>
          <td><%= messenger.message %><br><a href="/messengers/new/<%= messenger.tribe.id %>">[reply]</a></td>
          <% gift = messenger.gift %>
          <% if gift.money > 0 || gift.warriors > 0 || gift.resource %>
            <td>
              <%= "$#{gift.money}" if gift.money > 0 %>
              <%= "|" if gift.money > 0 && (gift.warriors > 0 || gift.resource) %>
              <%= "#{gift.warriors} warrior#{"s" if gift.warriors > 1}" if gift.warriors > 0 %>
              <%= "|" if gift.warriors > 0 && gift.resource %>
              <%= gift.resource.name.capitalize if gift.resource %>
              <% if gift.accepted? %>
                <strong>(gift accepted)</strong>
              <% elsif !messenger.rejected? && !gift.claimed? %>
                <form action="/messengers/<%= @tribe.slug %>" method="post">
                  <input type="hidden" name="_method" value="patch">
                  <input type="hidden" name="accept_gift" value="<%= gift.id %>">
                  <input type="submit" value="Accept gift">
                </form>
              <% end %>
            </td>
          <% else %>
            <td><em>This messenger did not bring a gift.</em></td>
          <% end %>
          <% if messenger.rejected? %>
            <td><strong>(messenger rejected)</strong></td>
          <% else %>
            <td>
              <form action="/messengers/<%= @tribe.slug %>" method="post">
                <input type="hidden" name="_method" value="patch">
                <input type="hidden" name="reject_messenger" value="<%= messenger.id %>">
                <input type="submit" value="Reject unwanted visitor">
              </form>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>

<table>
  <tcaption>Messengers abroad</tcaption>
  <% if @sent_messengers.empty? %>
    <tr>
      <td><em>You have not sent any messengers to other tribes. Not <strong>yet</strong>.</em></td>
    </tr>
  <% else %>
    <thead>
      <tr>
        <th>Time of Departure</th>
        <th>Destination Tribe</th>
        <th>Message</th>
        <th>Gift Contents</th>
      </tr>
    </thead>
    <tbody>
      <% @sent_messengers.each do |messenger| %>
        <tr>
          <td><%= messenger.created_at_formatted %></td>
          <td><a href="/tribes/<%= messenger.destination.slug %>"><%= messenger.destination.name %></a></td>
          <td><%= messenger.message %></td>
          <% gift = messenger.gift %>
          <% if gift.money > 0 || gift.warriors > 0 || gift.resource %>
            <td>
              <%= "$#{gift.money}" if gift.money > 0 %>
              <%= "|" if gift.money > 0 && (gift.warriors > 0 || gift.resource) %>
              <%= "#{gift.warriors} warrior#{"s" if gift.warriors > 1}" if gift.warriors > 0 %>
              <%= "|" if gift.warriors > 0 && gift.resource %>
              <%= gift.resource.name.capitalize if gift.resource %>
              <% if gift.reclaimed? %>
                <em>(you have reclaimed this gift)</em>
              <% elsif gift.accepted? %>
                <strong>(your gift has been <%= messenger.rejected? ? "rudely taken" : "accepted" %>)</strong>
              <% elsif messenger.rejected? %>
                <form action="/messengers/<%= @tribe.slug %>" method="post">
                  <input type="hidden" name="_method" value="patch">
                  <input type="hidden" name="reclaim_gift" value="<%= gift.id %>">
                  <input type="submit" value="Reclaim gift">
                </form>
                (gift was not accepted)
              <% else %>
                (gift has yet to be accepted)
              <% end %>
            </td>
          <% else %>
            <td><em>You did not send this messenger with a gift.</em></td>
          <% end %>
          <% if messenger.rejected? %>
            <td><strong>The receiving tribe rejected this messenger!</strong></td>
          <% else %>
            <td>Your messenger is welcome at his destination... for <em>now</em>.</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
