<h1>Run a messenger!</h1>

<h2>Source tribe: "<%= @messenger.tribe.name %>" <em>(your active tribe)</em></h2>
<h2>Destination tribe: "<%= @messenger.destination.name %>"</h2>

<form action="/messengers" method="post">

  <p><label for="message"><em>Have the messenger relay a message:</em></label></p>
  <p><textarea name="message" id="msg_box" cols="30" rows="10">What's happenin', <%= @messenger.destination.name %>?</textarea></p>

  <table id="gift_table">
    <tcaption>Have the messenger carry a gift:</tcaption>
    <tr>
      <td>Money:</td>
      <td>
        <input type="number" name="gift[money]" value="0">
      </td>
    </tr>
    <tr>
      <td>Warriors:</td>
      <td>
        <input type="number" name="gift[warriors]" value="0">
      </td>
    </tr>
    <tr>
      <td>Resource:</td>
      <td>
        <% if @messenger.tribe.resources.empty? %>
          <em>You have no resources to attach.</em>
        <% else %>
          <select name="resource_name">
            <% @messenger.tribe.resources.uniq.each do |resource| %>
              <option value="<%= resource.name %>"><%= resource.name.capitalize %> (you have <%= @messenger.tribe.count_resource(resource.name) %> of this resource)</option>
            <% end %>
          </select>
        <% end %>
      </td>
    </tr>
  </table>

</form>
