<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,500,900">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>SinaTribes: a tribe-building simulation game!</title>
</head>
<body>
  <header id="top_bar">
    <div id="logo"><a href="/">SinaTribes</a></div>
    <nav id="main_nav">
      <% if session[:user_id] %>
        <a href="/">Home</a>
        <a href="/tribes">World</a>
        <a href="/tribes/<%= current_user.tribe.slug %>/manage"><%= current_user.tribe.name %></a>
        <a href="/messengers/<%= current_user.tribe.slug %>">Messengers</a>
        <a href="/logout">Log out</a>
      <% else %>
        <a href="/signup">Sign up</a>
        <a href="/login">Log in</a>
      <% end %>
    </nav>
  </header>

  <div id="background"></div>

  <main>
    <% if flash.has?(:message) %>
    <div class="flash"><%= flash[:message] %></div>
    <% end %>

    <%= yield %>
  </main>
</body>
</html>
