<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,500,900">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>SinaTribes: a tribe-building simulation game!</title>
</head>
<body>
  <header id="top_bar">
    <div id="logo"><a href="/">SinaTribes</a></div>
    <nav id="main_nav">
      <% if session[:user_id] %>
        <a href="/">Home&nbsp&nbsp</a>
        <a href="/tribes">&nbsp&nbspWorld&nbsp&nbsp</a>
        <% if current_user.tribe %>
          <a href="/tribes/<%= current_user.tribe.slug %>/manage">&nbsp&nbsp<%= current_user.tribe.name %>&nbsp&nbsp</a>
          <a href="/messengers/<%= current_user.tribe.slug %>">&nbsp&nbspMessengers&nbsp&nbsp</a>
        <% else %>
          <a href="/tribes/new">&nbsp&nbspCreate a tribe&nbsp&nbsp</a>
        <% end %>
        <a href="/logout">&nbsp&nbspLog out</a>
      <% else %>
        <a href="/signup">Sign up&nbsp&nbsp</a>
        <a href="/login">&nbsp&nbspLog in</a>
      <% end %>
    </nav>
  </header>

  <div id="background"></div>

  <main>
    <% if flash.has?(:message) %>
    <div class="flash"><%= flash[:message] %></div>
    <% end %>

    <%= yield %>
  </main>
</body>
</html>
